<mat-card
  style="
    border: 1px solid salmon;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
  "
>
  <mat-card-title style="padding-top: 35px; padding-left: 15px"
    ><h2 style="color: brown; font-size: 30px">
      <mat-icon style="font-size: 30px">person</mat-icon>&nbsp;LOGIN
    </h2></mat-card-title
  >
  <mat-card-content>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      style="margin-top: 50px"
    >
      <mat-label style="font-size: 15px; font-weight: 500"
        >Username :
      </mat-label>
      <mat-form-field appearance="fill">
        <input
          type="text"
          matInput
          placeholder="Username"
          formControlName="username"
          style="font-size: 15px; font-weight: 400"
        />
      </mat-form-field>

      <p>
        <mat-label style="font-size: 15px; font-weight: 500"
          >Password :
        </mat-label>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
      </p>

      <div class="button">
        <!-- <button type="submit" class="buttonStyle">
          <span class="text"> <span style="font-weight: 600">LogIn</span></span>
        </button> -->

        <button
          type="submit"
          mat-raised-button
          style="
            box-sizing: content-box;
            float: right;
            margin-left: 20px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 5px;
            font-size: 15px;
            padding-bottom: 5px;
            background-color: rgb(248, 97, 97);
          "
        >
          <mat-icon>login</mat-icon>LogIn
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
